@model ComplaintRequestSystem.Models.Request.RequestViewModel

@{
    ViewData["Title"] = "Request Detail";
}

<div class="body">

    @if (Model is not null)
    {
        <div class="card">

            <img src="@Model.ImageUrl" class="card-img-top" />

            <div class="card-header">

                <h5>
                    request Text: @Model.RequestText
                </h5>
                <p>
                    Request Status: @Model.RequestStatus.ToString();
                </p>
                @if (User.IsInRole("AppUser"))
                {
                    <a asp-controller="Request" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-primary btn-sm">
                        <i class="fas fa-edit"></i>
                    </a>

                    <form asp-controller="Request" asp-action="DeleteRequest" asp-route-id="@Model.Id" method="post" class="del-btn">
                        <button type="submit" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>
                }




            </div>
        </div>
    }

</div>


